.container {
    width: 100%;
    max-width: 340px;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;

    @media screen and (min-width: 768px) {
        max-width: 755px;
        padding: 0 32px;
    }

    @media screen and (min-width: 1440px) {
        max-width: 755px;
        padding: 0 64px;
    }
}
