.btn {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover, 
    &:focus {
        background-color: black;
    }

    @media screen and (min-width: 768px) {
        top: 81%;
        left: 94%;
    }

    @media screen and (min-width: 1440px) {
        top: 81%;
        left: 93%;
    }
}
