.btn{
    position: absolute;
    left: 50%;
    top: 28.7%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover, 
    &:focus{
        background-color: black;
    }

    @media screen and (min-width: 768px) {
        position: absolute;
        top: 22.4%;
        left: 76%;
    }
}
