section{
    padding-top: 100px;
}

.wrapCalc{
    background-color: #fff;
    padding: 60px 20px;
    border-radius: 20px;
    border-bottom-right-radius: 100px;

    @media screen and (min-width:768px) {
        padding: 60px;
    }
}